streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-pinecone==0.1.1
langchain-text-splitters
pinecone-client==4.1.0
python-dotenv
docx2txt
pypdf
python-multipart
openpyxl
